.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 600ms;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 600ms;
  }
  
  .datepicker-menu {
    width: 300px; 
  }
  
  @media (max-width: 768px) {
    .datepicker-menu {
      width: 100%; 
    }
  }
  